:root {
    --main-light: #fff;
    --main-dark: #369;
    --ff-secondary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    color: #898989;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 20ox;
    letter-spacing: 0.02em;
    ;
}

h3 {
    text-align: center;
    font-size: 140%;
    padding: 6px 0;
    margin: 2rem 0 0;
}

.navbar-light .navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    color: peru
}

.btn-custom {
    background: peru;
    color: #fff;
}

.btn-custom:hover {
    color: #fff;
}

.links {
    text-align: center;
    margin-top: 2rem;
}


.list-group li {
    display: inline;
    text-align: center;
}

.about-page {
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.div-img-bg {
    padding-bottom: 30px;
    background: #eee;
}

.div-img-bg .about-img img {
    width: 80%;
    box-shadow: 0 0 85px 0 rgb(0 0 0 /14%);
    margin-top: -40px;
    margin-left: 30px;
    height: 300px;
    object-fit: cover;
}

.about-descr {
    margin-top: 20px;
    text-align: center;
}

.p-heading {
    font-family: serif;
    font-size: 160%;
}

.separator {
    font-family: serif;
}

h2 {
    font-size: 25px;
    letter-spacing: 2px;
    color: #292929;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}

.paddsection {
    padding-top: 90px;

}

.project-img {
    position: relative;
    width: 100%;
    height: 100%
}

.portfolio-info {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: #aaa;
    opacity: 0.3;
    text-align: center;
    cursor: pointer;
    font-family: serif;
}

.portfolio-info:hover {
    transition: all 0.3s;
    opacity: 0.8;
    background: #333;
    color: #fff
}

.portfolio-info h4 {
    margin-top: 3rem;
}

.badge-group {
    text-align: center;
    width: 60%;
    margin: 1rem auto;
}

.badge {
    background: #fff;
    display: inline-block;
    color: #999;
    box-shadow: -2px -2px 30px rgb(0 0 0 /6%);
    font-weight: 100;
    font-size: 120%;
    padding: 1rem 2rem;
    margin: 1rem;
}

.card-text {
    padding: 10px 0
}

.card-text small {
    margin: 1rem 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
}


.details-link {
    padding: 0.6rem 1rem;
    background-color: peru;
    color: #fff;
    text-decoration: none;
    margin: 5px 5px
}

.details-link:hover {
    color: #fff;
}

.portfolio-item {
    margin-bottom: 2rem;
}


.form-group {
    margin-bottom: 1rem;
}

footer {
    margin-top: 2rem;
}

/* contact-me */

.contact-me {
    padding: 3rem;
    text-align: center;
}

.contact-me li {
    display: inline-block;
}

.contact-me li a {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999px;
    margin: 0 0.5em;
    opacity: 0.5;
}

.contact-me li a:hover {
    opacity: 0.7;
}

.sm-github {
    background-image: url(../images/github.png);
}

.sm-linkedin {
    background-image: url(../images/linkedin.png);
}

.sm-email {
    background-image: url(../images/email.png);
}